@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text-primary: 72, 75, 106;
  --color-text-secondary: 210, 211, 219;
  --color-text-inverted: 250, 250, 250;
  --color-primary: 250, 250, 250;
  --color-secondary-1: 72, 75, 106;
  --color-secondary-2: 147, 148, 165;
  --color-inverted: 228, 229, 241;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text-primary: 185, 185, 185;
    --color-text-secondary: 51, 51, 51;
    --color-text-inverted: 0, 0, 0;
    --color-primary: 0, 0, 0;
    --color-secondary-1: 185, 185, 185;
    --color-secondary-2: 225, 225, 225;
    --color-inverted: 42, 39, 42;
  }
}

body {
  background: rgb(var(--color-primary));
}
